{% extends "A3rafkolytk/header.html" %}

{% block title %}Electricity{% endblock %}

{% block content %}

   <div class="container" style="align-content: center; margin: 10% 5%; border-radius: 25px;">
        <div class="jumbotron">
            <h1 class="wow fadeInDown">Electrical Engineering Overview</h1>
            <p class="wow fadeInUp">
Electrical Engineering involves the use of electricity to solve problems related to energy, the environment, transportation, communications, health care, and a host of other areas that have an important impact upon society. Equipped with a broad background of theoretical and practical knowledge, the Electrical Engineering graduate has a wide range of careers from which to choose: research and design, teaching, sales, and management. Few professions offer the opportunity for diversity that is provided in Electrical Engineering.
            </p>
            <br>
            <br>
            <br>
            <h1 class="wow fadeInDown">Embedded Systems</h1>
            <p class="wow pulse">
The Electrical Engineering curriculum also provides an excellent “feeder” degree for those students uncertain about choosing a specific career. The knowledge gained through a study of the physical sciences, mathematics, engineering, written and oral communications, humanities, and social sciences provides an excellent background for many career choices (e.g., medicine, business and law).
            </p><p class="wow pulse">
Electrical Engineering students benefit from practicing in internships, as well. Past sponsors of internships include: Bangor Hydro Electric Company, Lemforder Corporation, Great Northern Paper Company, General Electric Company, Amoco Laser Corporation, International Paper Company, Vermont Yankee Nuclear Power Plant, Mitre Corporation, Boise Cascade Paper Company, Ark-Less Company, Becon Construction, Fairchild Semiconductor and National Semiconductor.
            </p><p class="wow pulse">
Career possibilities for electrical engineers include power-creation, transmission, and distribution; communications; semiconductor devices design and manufacture; control processes and measurement; and electronics.
            </p>
            <table class="table table-hover">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Circuits and Electronics 1: Basic Circuit Analysis</td>
        <td><a href="https://www.edx.org/course/circuits-electronics-1-basic-circuit-mitx-6-002-1x-0">Course Link</a></td>
      </tr>
      <tr>
        <td>Electric Cars: Technology</td>
        <td><a href="https://www.edx.org/course/electric-cars-technology">Course Link</a></td>
      </tr>
      <tr>
        <td>Embedded Systems - Shape The World: Microcontroller Input/Output</td>
        <td><a href="https://www.edx.org/course/embedded-systems-shape-the-world-microcontroller-inputoutput">Course Link</a></td>
      </tr>
        <tr>
        <td>IT Support: Cloud Fundamentals</td>
        <td><a href="https://www.edx.org/course/it-support-cloud-fundamentals">Course Link</a></td>
      </tr>
        <tr>
        <td>Robotics</td>
        <td><a href="https://www.edx.org/course/robotics-columbiax-csmm-103x-3">Course Link</a></td>
      </tr>
        <tr>
        <td>Multi-Object Tracking for Automotive Systems</td>
        <td><a href="https://www.edx.org/course/multi-target-tracking-for-automotive-systems">Course Link</a></td>
      </tr>
        <tr>
        <td>Model-Based Automotive Systems Engineering</td>
        <td><a href="https://www.edx.org/course/model-based-automotive-systems-engineering">Course Link</a></td>
      </tr>
        <tr>
        <td>Software Testing Fundamentals</td>
        <td><a href="https://www.edx.org/course/software-testing-fundamentals-usmx-umuc-stv1-1x-1">Course Link</a></td>
      </tr>
    </tbody>
  </table>
        </div>
    </div>

{% endblock %}