{% extends "A3rafkolytk/header.html" %}

{% block title %}Mechanics{% endblock %}

{% block content %}
 
<div class="container" style="align-content: center; margin: 10% 5%; border-radius: 25px;">
        <div class="jumbotron">
            <h1 class="wow fadeInDown">Mechanical Engineering Overview</h1>
            <p class="wow fadeInUp">
Mechanical engineers research, develop, design, manufacture, and test tools, engines, machines, and other mechanical devices. They work on power-producing machines such as electric generators, internal combustion engines, and steam and gas turbines. They also develop power-using machines such as refrigeration and air-conditioning equipment, machine tools, material handling systems, elevators and escalators, industrial production equipment, and robots used in manufacturing. Mechanical engineers also design tools needed by other engineers for their work. The field of nanotechnology, which involves the creation of high-performance materials and components by integrating atoms and molecules, is introducing entirely new principles to the design process.
            </p><p class="wow pulse">
Computers assist mechanical engineers by accurately and efficiently performing computations and by permitting the modeling and simulation of new designs as well as facilitating changes to existing designs. Computer-Aided Design (CAD) and Computer-Aided Manufacturing (CAM) are used for design data processing and for developing alternative designs.
            </p><p class="wow pulse">
Mechanical engineers work in many industries, and their work varies by industry and function. Some specialize in energy systems; applied mechanics; automotive design; manufacturing; materials; plant engineering and maintenance; pressure vessels and piping; and heating, refrigeration, and air-conditioning systems. Mechanical engineering is one of the broadest engineering disciplines. Mechanical engineers may work in production operations in manufacturing or agriculture, maintenance, or technical sales; many are administrators or managers.
            </p>
            <br>
            <br>
            <br>
             <h1 class="wow fadeInDown">Job Outlook</h1>
            <p class="wow pulse">
                Mechanical engineers held about 215,000 jobs in 2002. More than half of the jobs were in manufacturing-mostly in machinery, transportation equipment, computer and electrical products, and fabricated metal products manufacturing industries. Architectural, engineering, and related services, and the Federal Government provided many of the remaining jobs.
            </p><p class="wow pulse">
            Employment of mechanical engineers is projected to grow more slowly than the average for all occupations though 2012. Although overall employment in manufacturing industries – where employment of mechanical engineers is is concentrated – is expected to decrease slightly, employment of mechanical engineers in manufacturing should increase more rapidly as the demand for improved machinery and machine tools grows and as industrial machinery and processes become increasingly complex. Also, emerging technologies in biotechnology, materials science, and nanotechnology will create new job opportunities for mechanical engineers. Additional opportunities for mechanical engineers will arise because a degree in mechanical engineering often can be applied in other engineering specialties. In addition to job openings arising from growth, many openings should result form the need to replace workers who transfer to other occupations or leave the labor force.
            </p>
            <table class="table table-hover">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Introduction to Aerospace Structures and Materials</td>
        <td><a href="https://www.edx.org/course/introduction-to-aerospace-structures-and-materials">Course Link</a></td>
      </tr>
      <tr>
        <td>Introduction to Aeronautical Engineering</td>
        <td><a href="https://www.edx.org/course/introduction-to-aeronautical-engineering">Course Link</a></td>
      </tr>
      <tr>
        <td>Solar Energy: Photovoltaic (PV) Technologies</td>
        <td><a href="https://www.edx.org/course/solar-energy-photovoltaic-pv-delftx-pv2x-0">Course Link</a></td>
      </tr>
        <tr>
        <td>Hybrid Vehicles</td>
        <td><a href="https://www.edx.org/course/hybrid-vehicles">Course Link</a></td>
      </tr>
        <tr>
        <td>Solar Energy: Capstone Project</td>
        <td><a href="https://www.edx.org/course/hybrid-vehicles">Course Link</a></td>
      </tr>
    </tbody>
  </table>
        </div>
    </div>

{% endblock %}