{% extends "A3rafkolytk/header.html" %}
{% block title%}E3rafkolytk{% endblock %}
<link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">

{% block content %}
<div style="margin-top: 100px; margin-right: 500px; margin-left: 500px;">
    <h1 class="font wow fadeInDown" style="text-align: center; font-size: 100px; color: antiquewhite;">E3rafkolytk</h1>
</div>
<hr style="margin-left: 600px; margin-right: 600px; height:5px; border:none; color:lightcoral; background-color:lightcoral;" class="font fadeInDown animated"/>
<div style="padding-left: 50px; padding-right:20px; padding-top: 45px; height: 150px; border-radius: 20px;  background-color: forestgreen;
            margin-left: 150px; margin-right: 100px;" class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".1s">
    <p style="animation-delay: 2s; font-size: 19px; color: black; align-content: center" class="wow lightSpeedIn" data-wow-delay="1s"><b>
        Here we are helping you to keep up with the college,knowing every event handled by different teams &amp; chapters<br>
        knowing the news of Student union &amp; Technical teams,knowing more about internships,courses </b>
    </p>
</div>
<div style="margin: 250px 125px; background-color: cadetblue; padding-bottom: 100px; padding-left: 100px;padding-right: 100px; padding-top: 10px; border-radius: 25px;" id="about" class="wow jackInTheBox" data-wow-duration="2s" data-wow-delay=".1s">
    <h1 style="font-family: 'Gaegu', cursive; text-align: center; color: darkred;">Who Are We?!</h1>
    <p style="text-align: center; font-family: 'Gaegu', cursive; color: brown; font-size: 19px"><b>
        We are Students of CSED21 and we were given a project to carry out a website that helps community  <br>
           So we decided to make this website and we hope that any one visits this website never hesitate to come again
        </b>
    </p>
</div>
{% endblock %}